<div class="row">
  <div class="col-xs-12">
    <app-time-track-item #tick1
                         taskDesc="1. Task A"
                         [prevTick]=""
                         [nextTick]="tick2"
                         (status)="changeTick($event)"
                         (incrementTick)="updateTotal($event)"></app-time-track-item>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <app-time-track-item #tick2
                         taskDesc="2. Task B"
                         [prevTick]="tick1"
                         [nextTick]="tick3"
                         (status)="changeTick($event)"
                         (incrementTick)="updateTotal($event)"></app-time-track-item>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <app-time-track-item #tick3
                         taskDesc="3. Task C"
                         [prevTick]="tick2"
                         [nextTick]="tick4"
                         (status)="changeTick($event)"
                         (incrementTick)="updateTotal($event)"></app-time-track-item>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <app-time-track-item #tick4
                         taskDesc="4. Task D"
                         [prevTick]="tick3"
                         [nextTick]="tick5"
                         (status)="changeTick($event)"
                         (incrementTick)="updateTotal($event)"></app-time-track-item>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <app-time-track-item #tick5
                         taskDesc="5. Task E"
                         [prevTick]="tick4"
                         [nextTick]=""
                         (status)="changeTick($event)"
                         (incrementTick)="updateTotal($event)"></app-time-track-item>
  </div>
</div>
